*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:cursive,Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  display:inline-block;
}
p{
  margin:0;
}
/* 
      HEADER.JS ------------------------------------------------------------------------------------
*/
img[class~="logo"]{
  width: 150px;
  height: 50px;
}
i[class~="bi-search"]{
  font-size: 25px;
  color:black;
}
i[class~="bi-cart"]{
  font-size: 25px;
  color:black;
}
i[class~="user"]{
  font-size: 40px;
  color: darkorange;
}
.nav{
  justify-content: space-between;
}
.userIcon{
  justify-content: flex-end;
}
.busqueda{
  margin-top: 3px;
}
/* 
      HOME.JS ------------------------------------------------------------------------------------
*/
img[class~="banner"]{
  width: 100%;
}
.big-banner{
  background-image: url(./images/pared.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 508px;
  background-size: 100% 100%;
}
img[class~="mueble-banner"]{
  width: 507px;
  height: 200px;
}
img[class~="cuadro"]{
  width: 300px;
  height: 150px;
}
.display-banner{
  margin: 40px 0;
}
i[class~="arrow"]{
  font-size: 30px;
  padding: 0 10px;
}
/* 
      PRODUCTO.JS -------------------------------------------------------------------------------------------------
*/
img[class~="producto-imagen"]{
  object-fit: cover;
  width:100%;
  height:100%;
}
.image-container{
  min-height:800px;
  width: 100%;
  background-color: rgba(211,205,193,255)
}
.margin-box{
  min-height: 50px;
  width: 100%;
}
.product-imagen-box{
  min-height: 660px;
  width: 100%;
}
.review-box{
  height: 660px;
  width: 100px;
  padding:200px 0;
}
.imagen-box{
  height:660px;
  width:610px;
}
.blank-container{
  height: 40px;
  width: 100%;
}
.blank-box{
  width: 710px;
  height: 100%;
}
/*Descripcion del producto*/
i[class~="bi-arrow-left-short"]{
  font-size: 2em;
}
.product-container{
  height: 500px;
}
.text-back{
  font-size: 1.2em;
}
.text-product-container{
  line-height: normal;
  margin-top: 2em;
}
.quality-contanier{
  margin:1em 0;
}
.text-title-product{
  font-size: 2.5em;
  line-height:40px;
}
.text-author-product{
  font-size: 1.25em;
}
.text-quality{
  font-size: 0.85em;
  opacity:80%;
}
.desc-container{
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid black ;
}
.text-desc{
  opacity: 80%;
}

.text-price{
  font-size: 1.6em;
}

.text-shipping{
  opacity: 80%;
  font-size: 1.1em;
}
.buttom-add-cart{
  margin-top: 2em;
}